@import 'tailwindcss';

@theme {
  --color-primary: #1976d2;
  --color-primary-light: #2196f3;
  --color-primary-soft: #bbdefb;
  --color-primary-dark: #2196f3;

  --color-neutral-light: #bdbdbd;
  --color-neutral-darkest: #212121;
  --color-neutral-dark: #757575;

  --color-base-background: #ffffff;
  --color-base-surface: #f5f5f5;
  --color-base-background-dark: #212121;
  --color-base-surface-dark: #424242;

  --color-text: #212121;
  --color-text-muted: #757575;
  --color-text-dark: #ffffff;
  --color-text-muted-dark: #bdbdbd;

  --color-accent: #536dfe;
  --color-border: #757575;
}
